<div class="flex-center padded" style="width: 100%">
  {{#liquid-spacer growDuration=250 class="max-width"}}
    <h2>"concurrency?"</h2>

    {{#hidden-at-first index=0}}
      <h4><em>From Webster's Unabridged:</em></h4>
    {{/hidden-at-first}}

    {{#hidden-at-first index=1}}
      <h4>Stuff happening at the same time</h4>
    {{/hidden-at-first}}
  {{/liquid-spacer}}
</div>

