<div class="flex-center padded" style="width: 100%">
  {{#liquid-spacer growDuration=250 class="max-width"}}
    <h2>What is ember-concurrency?</h2>

    {{#hidden-at-first index=0}}
      <h4>An Ember Addon</h4>
    {{/hidden-at-first}}

    {{#hidden-at-first index=1}}
      <h4>...that gives you powerful primitives for dealing with asynchrony and concurrency</h4>
    {{/hidden-at-first}}

    {{#hidden-at-first index=2}}
      <h4>...and it solves so many problems you never realized you had</h4>
    {{/hidden-at-first}}
  {{/liquid-spacer}}
</div>

