<div class="padded">
  <h3>Basic Async Button</h3>

  <div class="row">
    <div class="six columns">
      {{code-snippet name="exhibit-a.js"}}
    </div>
    <div class="six columns">
      {{code-snippet name="exhibit-a.hbs"}}

      {{! BEGIN-SNIPPET exhibit-a }}
      <button onclick={{action 'refreshData'}}>
        Refresh
      </button>
      <p>Data: {{data.value}}</p>
      {{! END-SNIPPET }}
    </div>
  </div>
</div>

