<div class="flex-center padded" style="width: 100%">
  {{#liquid-spacer growDuration=250 class="max-width"}}
    <h2>Why does it exist?</h2>

    {{#hidden-at-first index=0}}
      <h4>
        Writing production-ready async code is still difficult and tedious
      </h4>
    {{/hidden-at-first}}

    {{#hidden-at-first index=1}}
      <h4>
        Common tasks / use cases involving asynchrony still require a lot of boilerplate
      </h4>
    {{/hidden-at-first}}

    {{#hidden-at-first index=2}}
      <h4>
        It really feels like Ember should be good at this sort of thing.
      </h4>
    {{/hidden-at-first}}

  {{/liquid-spacer}}
</div>

