<div class="flex-center padded" style="width: 100%">
  {{#liquid-spacer growDuration=250 class="max-width"}}
    <h3>Let's make a button that loads some data</h3>
    <h4>This should be easy, right?</h4>
  {{/liquid-spacer}}
</div>

